<% layout('layouts/boilerplate') %> 


        <div class="row">
            <h1 class="text-center">Edit Story</h1>
            <div class="col-6 offset-3">
                <form action="/books/<%=book._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="name">Story Title</label>
                        <input class="form-control"type="text" id="name" name="book[name]" value="<%=book.name%>" required>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="author">Author</label>
                        <input class="form-control" type="text" id="author" name="book[author]" value="<%=book.author%>" required>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Image URL</label>
                        <input class="form-control" type="text" id="image" name="book[image]" value="<%=book.image%>" required>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="category">Category</label>
                        <select class="form-control" name="book[category]" id="category">
                        <% for(let category of categories) {%>
                            <option value="<%=category%>"><%=category%></option>
                        <%}%>
                    </select>
                    <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="book[description]" required><%=book.description%></textarea>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="storyText">Story Text</label>
                        <textarea class="form-control" type="text" id="storyText" name="book[storyText]" required><%=book.storyText%></textarea>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info">Update Story</button>
                    </div>
                 
                </form>
                <a href="/books/<%=book._id%>">Back to Story</a>
            </div>
        </div>