<% layout('layouts/boilerplate') %> 
    <h1><%=category%> Stories! </h1>
    <div>
        <% for(let book of books) { %>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=book.image%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%=book.name%></h5>
                            <p class="card-text"><%=book.author%></p>
                            <p class="card-text">
                                <small class="text-muted"><%=book.description%></small>
                            </p>
                            <a href="/books/<%=book._id%>" class="btn btn-primary">Read <%=book.name%></a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
    <a href="/books/new">Add Story</a>
    <% if(category !=='All') {%>
    <a href="/books">All Stories</a>
    <%}%>







