<% layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
    <img src="<%=book.image%>" alt="https://www.clipartmax.com/png/small/344-3444218_avatars-clipart-generic-user-default-user-image-jpg.png">
    <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=book.name%></h5>
              <p class="card-text"><%=book.author%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item "><%=book.description%></li>
              <li class="list-group-item"><%=book.category%></li>
              
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/books/<%=book._id%>/edit">Edit</a>
                <form class="d-inline" action="/books/<%=book._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text muted">
                <%=book.storyText%>  
            </div>
         </div>
            </form>      
        </div>  
         <div class="col-6">
            <h2>Leave A Review</h2>
            <form action="/books/<%=book._id%>/reviews" class="mb-3 validated-form" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
          <div class="mb-3">
              <label class="form-label" for="body">Review</label>
              <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
              <div class="valid-feedback">Looks Good!</div>
          </div>
          <button class="btn btn-success">Submit</button>
      </form>
      <%for(let review of book.reviews){%>
       <div class="card mb-3">
           <div class="mb-3 card-body">
               <h5 class="card-title">Rating: <%=review.rating%></h5>
               <p class="card-text">Review: <%=review.body%></p>
               <form action="/books/<%=book._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
               </form> 
               </div>
            </div>
           <%}%>      
        </div>     
    </div>
    
</div>
