<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
</head>
<body>
    <h1><%=book.name%> </h1>
    <ul>
        <li>Author:  <%=book.author%></li>
        <li>Price:  <%=book.price%></li>
        <li>Category:  <a href="/books?category=<%=book.category%>"><%=book.category%></a></li>


    </ul>
    <a href="/books">All Books</a>
    <a href="/books/<%=book._id%>/edit">Edit Book</a>
<form action="/books/<%=book._id%>?_method=DELETE" method="POST">
    <button>DELETE</button>
</form>
</body>
</html>